.recommendedvideos {
  width: 70%;
  display: flex;
  background-color: #f9f9f9;
  padding: 40px 20px;
}

.recommendedvideos > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}

.recommendedVideos-videos {
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  gap: 2em;
}
